*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ
.idea
*.iml

# Exercise PDF-s
*.pdf

# Data
data

.DS_Store
summary/*
!summary/summary.tex
